# list of python requirements 
# it's recommended to use a virtual environment to install these packages. 
# Python version 3.10.12: needed to run the ML model with a specific version of TensorFlow and sklearn
scikit-learn
tf_keras
tensorflow
tensorflow-probability
#wrapt==1.14.1 # to disable deprecation error
